# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.vercel/
.env.local
.env.*.local
.env

# Logs
*.log

# Test coverage
coverage/

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# OS-specific
.idea/
*.swp

# Docker
docker-compose.override.yml
*.orig

# Jest cache
.jest/

# Build
dist/
build/